doctype html
html
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(charset='utf-8')
    title= title 
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='../assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='../assets/css/font-awesome.min.css')
    link(rel='stylesheet', href='../assets/css/ace-fonts.css')
    link(rel='stylesheet', href='../assets/css/uncompressed/ace.css' id='main-ace-style')
    link(rel='stylesheet', href='../assets/css/ace-skins.min.css')
    script(type='text/javascript' src='../assets/js/ace-extra.min.js')
    //link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body.login-layout
    block content
    
    block footer
      script(type='text/javascript' src='../assets/js/jquery.min.js')
      script(type='text/javascript' src='../assets/js/bootstrap.min.js')
      script(type='text/javascript' src='../assets/js/ace-elements.min.js')
      script(type='text/javascript' src='../assets/js/ace.min.js')
      script(type='text/javascript' src='/javascripts/functions.js')