extends ../../../views/layout
block content
	div.row-fluid
		div.col-md-12
			div.row-fluid
				div.col-md-2
				div.col-md-8
					div.center
						img(src='../images/univo.jpg' width='100')
						p
							label.control-label.bolder.blue
								|Usted ya evaluo este docente, Gracias por 
								|su colaboraci&oacute;n.
						p
							label.control-label.bolder.blue
								|DE CLICK EN CONTINUAR PARA EVALUAR OTRO DOCENTE 
						p
							i.ace-icon.fa.fa-reply.blue
							a(href='/home')  CONTINUAR

				div.col-md-2
					
										
		